{%extends 'chat/base.html'%} {%block title%}{%endblock%} {%block style%}
{%endblock%} {%block content%} What chat room would you like to enter?<br />
<div class="col-sm-6 mt-3">
  <div class="mb-3">
    <label for="chat-message-input" class="form-label">Room Name*</label>
    <input
      type="text"
      class="form-control"
      name="room-name-input"
      id="room-name-input"
      placeholder="Enter your room name..."
    />
    <input
      class="btn btn-outline-primary mt-2"
      id="room-name-submit"
      type="button"
      value="Enter"
    />
  </div>
</div>
<div id="contact"></div>
{%for user in users%}
<button
  class="btn btn-outline-dark btn-sm col-sm-2 mt-2"
  id="userContact"
  value="{{user.username}}"
>
  {{user.username}}</button
><br />
{%endfor%}
<script>
  document.querySelector("#room-name-input").focus();
  document.querySelector("#room-name-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      document.querySelector("#room-name-submit").click();
    }
  };

  document.querySelector("#room-name-submit").onclick = function (e) {
    var roomName = document.querySelector("#room-name-input").value;
    window.location.pathname = "/chat/" + roomName + "/";
  };
  var contactBox = document.getElementById("contact");
  $.ajax({
    url: "{%url 'chat:indexJson'%}",
    type: "GET",
    success: function (response) {
      console.log(response);
    },
    error: function (error) {
      console.log(error);
    },
  });
</script>

{%endblock%} {%block javascript%} {%endblock%}
