{%extends 'chat/base.html'%} {%block title%} Chat Room {%endblock%} helloooo
{%block content%}
<div class="col-sm-8">
  <div class="form-group green-border-focus">
    <label for="chat-log">Chat Log</label>
    <textarea
      class="form-control"
      id="chat-log"
      col="50"
      rows="10"
      readonly
    ></textarea>
  </div>
  <div class="mb-3">
    <label for="chat-message-input" class="form-label">Message*</label>
    <input
      type="text"
      class="form-control"
      name="chat-message-input"
      id="chat-message-input"
      placeholder="write your message?"
    />
  </div>
  <input
    class="btn btn-outline-primary mt-2"
    id="chat-message-submit"
    type="button"
    value="Send"
  />
</div>
{{ room_name|json_script:"room-name" }}
<script>
  const roomName = JSON.parse(document.getElementById("room-name").textContent);

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
  );

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    document.querySelector("#chat-log").value += data.message + "\n";
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      // enter, return
      document.querySelector("#chat-message-submit").click();
    }
  };

  document.querySelector("#chat-message-submit").onclick = function (e) {
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = messageInputDom.value;
    chatSocket.send(
      JSON.stringify({
        message: message,
      })
    );
    messageInputDom.value = "";
  };
</script>
{%endblock%} {%block javascript%} {%endblock%}
